[[source]]

name = "pypi"
verify_ssl = true
url = "https://pypi.python.org/simple"


[packages]

flask = "==0.12.2"
flask-wtf = "*"
"jinja2" = "==2.10"
matplotlib = "==2.1.0"
numpy = "==1.13.3"
pandas = "==0.21.0"
scipy = "==1.0.0"
sklearn = "*"
codegen = "*"
asteval = "*"
"z3-solver" = "*"
shelljob = "*"
gunicorn = "*"


[dev-packages]

