asteval==0.9.11
blinker==1.3
cachetools==2.0.1
certifi==2017.11.5
chardet==3.0.4
click==6.7
cloud-init==0.7.9
codegen==1.0
command-not-found==0.3
configobj==5.0.6
cryptography==1.2.3
cycler==0.10.0
decorator==4.1.2
dill==0.2.7.1
Flask==0.12.2
Flask-WTF==0.14.2
future==0.16.0
gapic-google-cloud-datastore-v1==0.15.3
gapic-google-cloud-error-reporting-v1beta1==0.15.3
gapic-google-cloud-logging-v2==0.91.3
google-api-core==0.1.1
google-auth==1.2.0
google-cloud==0.30.0
google-cloud-bigquery==0.28.0
google-cloud-bigtable==0.28.1
google-cloud-core==0.28.0
google-cloud-datastore==1.4.0
google-cloud-dns==0.28.0
google-cloud-error-reporting==0.28.0
google-cloud-firestore==0.28.0
google-cloud-language==1.0.0
google-cloud-logging==1.4.0
google-cloud-monitoring==0.28.0
google-cloud-pubsub==0.29.0
google-cloud-resource-manager==0.28.0
google-cloud-runtimeconfig==0.28.0
google-cloud-spanner==0.29.0
google-cloud-speech==0.30.0
google-cloud-storage==1.6.0
google-cloud-trace==0.16.0
google-cloud-translate==1.3.0
google-cloud-videointelligence==0.28.0
google-cloud-vision==0.28.0
google-gax==0.15.16
google-resumable-media==0.3.1
googleapis-common-protos==1.5.3
grpc-google-iam-v1==0.11.4
grpcio==1.7.0
gym==0.9.3
gym-minecraft==0.0.2
httplib2==0.10.3
idna==2.6
ipython-genutils==0.2.0
itsdangerous==0.24
Jinja2==2.10
jsonpatch==1.10
jsonpointer==1.9
jsonschema==2.6.0
jupyter-core==4.4.0
language-selector==0.1
MarkupSafe==1.0
matplotlib==2.1.0
minecraft-py==0.0.2
nbformat==4.4.0
networkx==2.0
numpy==1.13.3
oauth2client==3.0.0
oauthlib==1.0.3
pandas==0.21.1
plotly==2.2.1
ply==3.8
prettytable==0.7.2
proto-google-cloud-datastore-v1==0.90.4
proto-google-cloud-error-reporting-v1beta1==0.15.3
proto-google-cloud-logging-v2==0.91.3
protobuf==3.4.0
psutil==5.3.1
pyasn1==0.3.7
pyasn1-modules==0.1.5
pycurl==7.43.0
pyglet==1.2.4
pygobject==3.20.0
pygraphviz==1.3.1
PyJWT==1.3.0
pyparsing==2.2.0
pyserial==3.0.1
python-apt==1.1.0b1
python-dateutil==2.6.1
python-debian==0.1.27
python-systemd==231
pytz==2017.3
PyYAML==3.11
requests==2.18.4
rsa==3.4.2
scikit-learn==0.19.1
scipy==1.0.0
six==1.11.0
ssh-import-id==5.5
traitlets==4.3.2
ufw==0.35
unattended-upgrades==0.1
urllib3==1.22
Werkzeug==0.14.1
WTForms==2.1
